*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, monospace;
  margin: 0;
  font-size: 24px;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.gameboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: black;
}

.row {
  display: flex;
  gap: 8px;
}

.field {
  flex: 1;
  height: 100px;
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  padding: 8px;
  background-color: white;
}

.field:hover {
  background-color: #60A5FA;
}

#playagain {
  flex: 1;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
  border: 1px solid black;
  border-radius: 2px;
  max-width: 280px;
  margin-top: 24px;
}

#playagain:hover {
  background-color: #60A5FA;
}
